button {
    color: #b7ab9a;
    -webkit-text-stroke: .05rem #4c300eff;
    background-color: #f4f0e5;
    border: .2em double #4c300eff;
    border-radius: 10px;
    font-size: 2rem;
    font-weight: 1000;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px auto;
    box-shadow: 0 0 10px 5px #f4f0e5;
}

.button-link{
    color: #b7ab9a;
    -webkit-text-stroke: .05rem #4c300eff;
    text-decoration: none;
}

.button-link:hover, .button-link:focus {
    filter: drop-shadow(0 0 10px);
}