
:root {
    min-width: 350px;
}

#overflow {
    overflow: hidden;
}

body {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #f4f0e5;
    min-height: 100%;
    height: fit-content;
    margin: 0;
}

.font-large {
    font-size: 2rem;
}

.font-medium {
    font-size: 1.75rem;
}

.font-small {
    font-size: 1rem;
}

.title {
    color: #b7ab9a;
    -webkit-text-stroke: .04rem #4c300eff;
    margin: .5em;
}

.modal {
    background-color: #d4d0c2;
    box-shadow: 0 0 1em 1em #b7ab9a;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80vw;
}

.modal label {
    margin: .4em;
}

.modal label:last-child {
    margin-bottom: 1em;
}

.modal select {
    background-color: #b7ab9a;
    border-radius: .4em;
    max-width: 15em;
    padding: .2em;
}

.modal select::before {
    content: '';
}

.input-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}