
:root {
    min-width: 350px;
}

#overflow {
    overflow: hidden;
}

body {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #f4f0e5;
    min-height: 100%;
    height: fit-content;
    margin: 0;
}

.font-large {
    font-size: 2rem;
}

.font-medium {
    font-size: 1.75rem;
}

.font-small {
    font-size: 1rem;
}

.title {
    color: #b7ab9a;
    -webkit-text-stroke: .04rem #4c300eff;
    margin: .5em;
}